[user]
	name = Daniel Ström
	email = D@nielstrom.se

[alias]
  select-branch = "!git-select-branch"
[push]
	autoSetupRemote = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
